*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
.landing{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/image.jpg");
    width: 100%;
    height: 100vh;
}
.container{
    width: 90%;
    margin: auto;
}
.nav-link{  
    
    padding-top: 5vh;
    display: flex;
}
.logo{
    width: 25%;
}

.title-main{
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    background: linear-gradient(to right,white,#e9eae9);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    font-size: 2vw;
}

.vision{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-vision,.title-mission{
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    font-weight: 200;
    background: linear-gradient(to right,white,#e9eae9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
}

.para-vision,.para-mission{
    display: flex;
    width: 50%;
    justify-content: center;
    margin-top: 1vw;
    font-weight: 200;
    background: linear-gradient(to right,white,#e9eae9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.9vw;
}

.btn{
    border: none;
    margin-top: 30px;
    height: 6vh;
    font-weight: 100;
    font-size: 20px;
    background-color: white;
    border-color: #f7a708;
    width: 180px;
    border-radius: 25px;
    color: #f7a708;
}

.btn:hover{
    background-color: #f7a708;
    border-color: white;
    color: white;
}



@media screen and (max-width:1024px){
   .title-main{
       margin-top: 10vh;
       font-size: 20px;
   }

   .title-vision,.title-mission{
       animation: navLinkFade 2s forwards ease-in;
       font-size: 25px;
   } 
   .para-vision,.para-mission{
    animation: navLinkFade 3s forwards ease-in;
    font-size: 10px;
    width: 70%;
   }
    @keyframes navLinkFade {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}