*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
.landing{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/backgr.jpg");
    max-width: 100%;
    height: 100vh;
}
.container{
    width: 90%;
    margin: auto;
}
.nav-link{  
    
    padding-top: 5vh;
    display: flex;
}
.logo{
    width: 25%;
}

.title-main{
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    background: linear-gradient(to right,white,#e9eae9);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    font-size: 1.8vw;
}

.component{
    display: flex;

}
.login{
    flex: 1;
}

.login-heading{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-weight: 200;
    font-size: 48px;
    background: linear-gradient(to right,#fdfdfd,#f2f2f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user{
    width: 70%;
    margin: auto;
}

.vision{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.title-vision,.title-mission{
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    font-weight: 200;
    background: linear-gradient(to right,white,#e9eae9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:1.5vw;
}

.validate{
    color: #f2f2f3;
}

.para-vision,.para-mission{
    display: flex;
    width: 50%;
    justify-content: center;
    margin-top: 1vw;
    font-weight: 200;
    background: linear-gradient(to right,white,#e9eae9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.95vw;
}

.space{
    width: 20%;
    height: 20px;
}

.login-btn{
    display: flex;
    justify-content: space-around;
}
.btn-1{
    width: 100%;
    
}



@media screen and (max-width:1024px){
   .title-main{
       margin-top: 10vh;
       font-size: 20px;
   }

   .title-vision,.title-mission{
       animation: navLinkFade 2s forwards ease-in;
       font-size: 25px;
   } 
   .para-vision,.para-mission{
    animation: navLinkFade 3s forwards ease-in;
    font-size: 10px;
    width: 70%;
   }
    @keyframes navLinkFade {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}